/**
 ** app.wxss
 ** 全局样式 都在此文件编写
 **/

// 布局 flex
.m-flex-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.m-ai-start {
  align-items: flex-start;
}
.m-flex-r {
  display: flex;
  align-items: center;
}
.m-jc-sb {
  justify-content: space-between;
}
.m-gap-10 {
  gap: 10px;
}
.m-gap-15 {
  gap: 10px;
}
.m-gap-20 {
  gap: 20px;
}

.m-p-relative {
  position: relative;
}
.m-p-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pd-side-20 {
  padding-left: 20px;
  padding-right: 20px;
}
